# Tarea 1 Bases de Datos 2023-1 Grupo 05

## Integrantes:
* Nombre Fernanda Araya - 202173026-5
* Nombre Rodrigo Pizarro - 201910012-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [ ]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://user:password@localhost:port/database

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="USER",
   dbname='DBNAME',
   password="PASSWORD"
)

print(connection)
cursor = connection.cursor()

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [ ]:
%%sql
CREATE TABLE facciones (
 id INTEGER GENERATED ALWAYS AS IDENTITY,
 nombre VARCHAR(45) NOT NULL,
 descripcion VARCHAR(45) NOT NULL,
 PRIMARY KEY (id)
);

### Tabla "trabajos" (6 pts)

In [ ]:
%%sql
CREATE TABLE trabajos (
  id INT GENERATED ALWAYS AS IDENTITY,
  nombre VARCHAR(45) NOT NULL,
  descripcion VARCHAR(45) NOT NULL,
  sueldo INT NOT NULL,
  PRIMARY KEY (id)
);

### Tabla "personas" (6 pts)

In [ ]:
%%sql
CREATE TABLE personas (
  id INT GENERATED ALWAYS AS IDENTITY,
  nombre VARCHAR(45) NOT NULL,
  apellidos VARCHAR(45) NOT NULL,
  fecha_nacimiento DATE NOT NULL,
  infectado BOOLEAN NOT NULL,
  conyugue INT,
  PRIMARY KEY (id)
);

### Tabla "cuentas_bancarias" (6 pts)

In [ ]:
%%sql
CREATE TABLE cuentas_bancarias (
  id INT GENERATED ALWAYS AS IDENTITY,
  tipo_de_cuenta VARCHAR(45) NOT NULL,
  banco VARCHAR(45) NOT NULL,
  saldo INT NOT NULL,
  id_persona INT,
  PRIMARY KEY (id),
  FOREIGN KEY (id_persona) REFERENCES personas(id)
);

### Tabla "persona_pertenece_faccion" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_pertenece_faccion (
  id_persona INT ,
  id_faccion INT ,
  PRIMARY KEY (id_persona, id_faccion),
  FOREIGN KEY (id_persona) REFERENCES personas(id),
  FOREIGN KEY (id_faccion) REFERENCES facciones(id)
);

### Tabla "persona_tiene_trabajo" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_tiene_trabajo (
  id_persona INT,
  id_trabajo INT,
  estado BOOLEAN NOT NULL,
  ultima_vez_realizado TIMESTAMP NOT NULL,
  PRIMARY KEY (id_persona, id_trabajo),
  FOREIGN KEY (id_persona) REFERENCES personas(id),
  FOREIGN KEY (id_trabajo) REFERENCES trabajos(id)
);

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Seleccionamos id, nombre y el primer apellido usando split desde la tabla personas. usamos dos join para unir personas pertenece faccion con personas y luego facciones con persona pertenece faccion, esto para utilizar where y explicitar que requerimos que el nombre de la faccion sea FEDRA. Por motivos de presentación, ordenamos finalmente por id._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT p.id, p.nombre, SPLIT_PART(p.apellidos, ' ', 1) AS apellido
FROM personas p
JOIN persona_pertenece_faccion ppf ON p.id = ppf.id_persona
JOIN facciones f ON ppf.id_faccion = f.id
WHERE f.nombre = 'FEDRA'
ORDER BY p.id;

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Utilizamos count(*) para contar todas las personas de personas y luego where para especificar que la fecha de nacimiento sea despues del inicio de la pandemia._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */
SELECT COUNT(*) AS Cantidad
FROM personas
WHERE fecha_nacimiento > '2019-12-01';

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _En esta consulta realizamos ciertos supuestos. Dado que las tablas asumen que las personas pueden tener 0 o más cuentas bancarias, en primer lugar a las personas que no tengan cuenta bancaria les asociaremos saldo 0. Además solo seleccionaremos una cuenta bancaria por persona en caso de que alguien tenga múltiples (por eso el distinct on). Además, las seleccionamos tal que estén ordenadas por ID para mostrar los primeros 20 en orden. Debido a esta misma razón, utilizamos un left join, pues nos interesa unir las tablas por id aunque no exista un match (que sería cuando las personas no tienen cuenta bancaria). De este modo, mostramos las primeras 20 personas. Si hubiesemos utilizado join, solo se mostrarian personas sin saldo 0. Finalmente, usamos LIMIT 20 por la indicación de limitar filas_

In [ ]:
%%sql

SELECT DISTINCT ON (p.id) p.id, p.nombre, p.apellidos, COALESCE(cb.saldo, 0) as saldo
FROM (
  SELECT *
  FROM personas
  ORDER BY id
) p
LEFT JOIN cuentas_bancarias cb ON p.id = cb.id_persona
LIMIT 20;

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Seleccionamos el nombre de la faccion y contamos la cantidad de personas con count(p.id) todo esto desde la tabla facciones. Como nos interesa que el estado de las personas sea TRUE (para que sean trabajadores activos) y que la ultima vez que lo hayan realizado sea desde una fecha, tenemos que usar tres JOINS para unir con la tabla de persona_tiene_trabajo, uniendo persona pertenece faccion con personas y luego persona con persona tiene trabajo. Aquí, seleccionamos con where el hecho de que el estado del trabajador sea true y además que la ultima vez realizado sea menor a una fecha dada por nosotros. Finalmente, agrupamos segun el nombre de faccion para obtener lo requerido._

In [ ]:
%%sql

SELECT 
  f.nombre AS faccion,
  COUNT(p.id) AS Cantidad_de_trabajadores
FROM facciones f
JOIN persona_pertenece_faccion ppf ON f.id = ppf.id_faccion
JOIN personas p ON ppf.id_persona = p.id
JOIN persona_tiene_trabajo ptt ON p.id = ptt.id_persona
WHERE ptt.estado = TRUE
  AND ptt.ultima_vez_realizado < '2020-01-01'
GROUP BY f.nombre;

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Seleccionamos el nombre de la faccion y contamos las personas con count(p.id) todo esto desde la tabla facciones. Como nos interesa saber si las personas estan infectadas, usamos dos join para unir facciones con persona pertenece faccion y luego personas pertenece faccion con personas. De acá, colocamos la condición de que la persona este infectada sea TRUE y finalmente agrupamos segun el nombre de la faccion._

In [ ]:
%%sql

SELECT f.nombre AS Facción, COUNT(p.id) AS Personas_infectadas
FROM facciones f
JOIN persona_pertenece_faccion ppf ON f.id = ppf.id_faccion
JOIN personas p ON ppf.id_persona = p.id
WHERE p.infectado = TRUE
GROUP BY f.nombre;

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Creamos una tabla temporal con WITH para ser utilizada dentro de la consulta. Esto se hace pues nos ayudará a seleccionar el trabajo mas realizado de una manera conveniente. Esta tabla en cuestión agrupa el nombre de la faccion, el trabajo y la cantidad de personas que realizar tal trabajo. Para esto, sacamos estos valores desde facciones y luego relacionamos las tablas persona pertenece faccion con facciones, personas con personas pertenece faccion, persona tiene faccion con persona tiene trabajo y personas tiene trabajo con trabajos. De este modo podemos extraer la información deseada y agruparla segun el nombre de la faccion y el nombre del trabajo. Luego, despues de la creación de esta tabla, seleccionamos la faccion y el trabajo desde nuestra tabla temporal, ordenando por faccion y la cantidad de trabajadores de manera descendiente. Esto pues, al ordenar la tabla de esta manera, en la parte superior se colocarán los trabajos con mayor cantidad de trabajadores, y el hecho de tener distinct on nos garantizará la selección de justamente los primeros que aparezcan en la tabla, obteniendo así los con mayor cantidad de trabajadores  _

In [ ]:
%%sql

WITH faccion_trabajos_count AS (
  SELECT f.nombre AS Faccion, t.nombre AS Trabajo, COUNT(ptt.id_persona) AS trabajo_count
  FROM facciones f
  JOIN persona_pertenece_faccion ppf ON f.id = ppf.id_faccion
  JOIN personas p ON ppf.id_persona = p.id
  JOIN persona_tiene_trabajo ptt ON p.id = ptt.id_persona
  JOIN trabajos t ON ptt.id_trabajo = t.id
  GROUP BY f.nombre, t.nombre
)

SELECT DISTINCT ON (Faccion) Faccion, Trabajo
FROM faccion_trabajos_count
ORDER BY Faccion, trabajo_count DESC;

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Seleccionamos el nombre de la faccion y la suma de los saldos desde la tabla facciones. Para obtener el saldo, unimos tres veces tabla persona pertenece faccion con faccion, personas con personas pertenece faccion y cuentas bancarias con personas para así obtener el saldo de cada persona. Finalmente, agrupamos segun el nombre de la facción para obtener el resultado_

In [ ]:
%%sql

SELECT f.nombre AS Facción, SUM(cb.saldo) AS Saldo
FROM facciones f
JOIN persona_pertenece_faccion ppf ON f.id = ppf.id_faccion
JOIN personas p ON ppf.id_persona = p.id
JOIN cuentas_bancarias cb ON p.id = cb.id_persona
GROUP BY f.nombre;

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _En esta consulta tambien realizamos un supuesto: Al igual que en la otra consulta que realizamos un supuesto, aquí realizaremos el mismo. Como en teoría una persona puede tener varias cuentas bancarias incluidas algunas dentro del mismo banco y nos interesan los usuarios que pertenecen al banco en sí, solo contaremos las id de las personas dentro de cuentas bancarias que sean distintas. Seleccionamos el banco, luego contamos la cantidad de personas._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT cb.banco AS Banco, COUNT(DISTINCT cb.id_persona) AS Cantidad, SUM(cb.saldo) AS Saldo
FROM cuentas_bancarias cb
GROUP BY cb.banco;

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _La query presentada a continuación es practicamente la misma que la query 6, lo unico que cambian son los atributos que nos interesa presentar, pero la estructura es exactamente la misma solo que esta vez en el count, incluimos distinct por el mismo supuesto que la consulta número 8._

In [ ]:
%%sql

WITH faction_banco_count AS (
  SELECT f.nombre AS faccion, cb.banco, COUNT(DISTINCT p.id) AS people_count
  FROM facciones f
  JOIN persona_pertenece_faccion ppf ON f.id = ppf.id_faccion
  JOIN personas p ON ppf.id_persona = p.id
  JOIN cuentas_bancarias cb ON p.id = cb.id_persona
  GROUP BY f.nombre, cb.banco
)

SELECT DISTINCT ON (faccion) faccion, banco
FROM faction_banco_count
ORDER BY faccion, people_count DESC, banco

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Creamos una tabla temporal para poder organizar de manera adecuada el id de una persona, su nombre, su apellido y la cantidad de facciones a las que pertenece. Esto se puede realizar facilmente seleccionando estos atributos de la tabla personas y contando cuantas veces aparece id faccion por persona. Para ello, unimos personas con la tabla persona pertenece faccion y finalmente agrupamos por id nombre y apellido. De esta tabla seleccionamos la id, el nombre y el segundo apellido usando split desde esta tabla temporal, utilizando la condicion de que el contador de facciones sea mayor o igual a 2. Al final, ordenamos por id solamente por motivos de visualizacion._

In [ ]:
%%sql

WITH persona_faccion_count AS (
  SELECT p.id, p.nombre, p.apellidos, COUNT(ppf.id_faccion) AS faccion_count
  FROM personas p
  JOIN persona_pertenece_faccion ppf ON p.id = ppf.id_persona
  GROUP BY p.id, p.nombre, p.apellidos
)

SELECT id, nombre, SPLIT_PART(apellidos, ' ', 2) AS segundo_apellido
FROM persona_faccion_count
WHERE faccion_count >= 2
ORDER BY id;

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Seleccionamos nombre y apellidos de la persona 1 y 2 desde la tabla personas a la cual denotaremos como p1. Luego, esta tabla la unimos consigo misma de tal modo que el conyugue de la primera, sea el id de la segunda. Para evitar repetidos (es decir, solo se muestra una unica vez la pareja) colocamos la condicion de que la id de p1 sea menor a la id de p2._

In [ ]:
%%sql

SELECT 
  p1.nombre AS nombre_persona_1,
  p1.apellidos AS apellidos_persona_1,
  p2.nombre AS nombre_persona_2,
  p2.apellidos AS apellidos_persona_2
FROM personas p1
JOIN personas p2 ON p1.conyugue = p2.id
WHERE p1.id < p2.id;